<mat-card>
  <mat-card-content>
    <div class="pokemon">
      <div class="pokemon-header">
        <span class="number">#{{ data.id | number : "3.0" }}</span>
        <button mat-icon-button (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="img-container">
        <img
          loading="lazy"
          [src]="data.sprites.other.dream_world.front_default"
          alt="{{ data.name }}"
        />
      </div>
      <div class="info">
        <h3 class="name">{{ data.name }}</h3>
        <div class="extra-info">
          <div>
            <small>Weight</small>
            <h5 class="weight">{{ data.weight }}kg</h5>
          </div>
          <div>
            <small>Height</small>
            <h5 class="height">{{ data.height }}m</h5>
          </div>
        </div>
        <div class="type-data">
          <small>Type:</small>
          <h5 class="type" *ngFor="let type of data.types; let i = index">
            {{ type.type.name }}
            <span *ngIf="i < data.types.length - 1">/</span>
          </h5>
        </div>
        <div class="type-data">
          <small>Abilities:</small>
          <h5 class="type" *ngFor="let ability of data.abilities; let i = index">
            {{ ability.ability.name }}
            <span *ngIf="i < data.types.length - 1">,</span>
          </h5>
        </div>
        <div class="type-data">
          <small>Moves (first 5):</small>
          <h5 class="type" *ngFor="let move of data.moves.slice(0, 5); let i = index">
            {{ move.move.name }}
            <span *ngIf="i < 4">,</span>
          </h5>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
